.teks {
  color: yellow;
}
body {
  background-color: #646ED8;
  transition: background-color 0.3s;
}
body.dark {
  background-color: black;
  color: black;
  font-family: serif;
}
#tombol {
  background-color: black;
  color: white;
}
#tombol:hover {
  background-color: blue;
  color: white;
  box-shadow: 0px 10px 50px rgba(255,255,0,0.7);
  animation: pindah 5s ease-in-out 0s infinite normal;
  animation-play-state: paused;
}
#switch {
  background-color: lime;
  position: fixed;
  top: 250px;
  left: 300px;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  color: black;
  text-align: center;
  padding: 3px;
}
#switch.gelap {
  background-color: black;
  color: white;
}
@keyframes pindah {
  5% {
    transform: translateX(10px);
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    font-family: fantasy;
  }
  90% {
    transform: translateX(-20px);
  }
}

#tabel {
  border-color: fuchsia;
}
